@import '../../styles/utils/main';

.GitHubUsersPreview-container {
  position: relative;
  display: inline-block;
}

.GitHubUsersPreview-link {
  text-decoration: none;
  color: var(--secondary-color-dark);
  cursor: pointer;
}

.GitHubUsersPreview-window {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  background: var(--primary-color-dark);
  padding: 10px;
  box-shadow: 0 0 10px var(--secondary-color-dark);
  border-radius: 5px;
  z-index: 999;
  display: none;
}

.GitHubUsersPreview-container:hover .GitHubUsersPreview-window {
  display: block;
}

.GitHubUsersPreview-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.GitHubUsersPreview-item {
  margin-bottom: 5px;
}

.GitHubUsersPreview-item:last-child {
  margin-bottom: 0;
}