@import '../../styles/utils/main';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 16px;

  @include on-tablet {
    gap: 64px;
    padding-inline: 32px;
  }

  @include on-desktop {
    gap: 80px;
    padding-inline: 152px;
  }

}

.container {
  display: flex;
  flex-direction: column;
  gap: 56px;

  @include on-tablet {
    gap: 64px;
  }

  @include on-desktop {
    @include page-grid;
  }
}

.sliderWrapper {
  margin-bottom: 64px;

  @include on-desktop {
    margin-bottom: 80px;
  }
}


.loaderWrapper {
  min-height: calc(100vh - 257px - 48px);
  display: flex;
  justify-content: center;
  align-items: center;

  @include on-tablet {
    min-height: calc(100vh - 96px - 48px);
  }

  @include on-desktop {
    min-height: calc(100vh - 96px - 64px);
  }
}

.breadCrumbsWrapper {

  @include on-tablet {
    padding-inline: 8px;
  }

  @include on-desktop {
    padding-inline: 126px;
  }
}