@import '../../styles/utils/main';

.cardWrapper {
  margin: 16px;
  margin-top: 24px;

  @include on-tablet {
    margin: 24px;
  }

  @include on-desktop {
    margin-left: 120px;
    margin-right: 120px;
  }

  .headerPath {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    gap: 8px;

    .homeIcon {
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
    }

    .categoryText {
      cursor: pointer;
    }

    .productText {
      color: $secondary-color;
    }
  }

  .backButton {
    display: flex;
    width: 55px;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
    gap: 4px;
    color: $secondary-color;
    @include on-tablet {
      margin-top: 40px;
    }
  }

  .productTitle {
    margin-top: 16px;
  }

  .picturesPreferences {
    margin-top: 32px;
    @include on-tablet {
      display: flex;
      justify-content: space-around;
    }

    @include on-desktop {
      display: flex;
      justify-content: space-around;
    }

    .picturesBlock {
      @include on-tablet {
        display: flex;
      }

      .picturesWrapper {
        @include on-tablet {
          display: flex;
        }

        .mainPictureWrapper {
          display: flex;
          justify-content: center;

          .mainPicture {
            justify-content: center;
            height: 288px;
            @include on-desktop {
              height: 70%;
            }
          }
        }

        .miniPicturesWrapper {
          margin-top: 16px;

          .miniPictures {
            justify-content: center;
            display: flex;
            gap: 8px;
            @include on-tablet {
              display: inline-block;
            }

            .miniPicturesElement {
              overflow: hidden;
              width: 50px;
              height: 50px;
              border: 1px black solid;
              border-radius: 5px;

              .miniPicture {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }
    }

    .preferences {
      margin-top: 32px;

      @include on-tablet {
        margin-top: 0;
        width: 40%;
      }

      .preferencesColor {
        border-bottom: 0.5px solid #b4bdc3;

        .colorsOption {
          margin-bottom: 16px;
          margin-top: 8px;
          display: flex;
          gap: 8px;
        }

        .textWrapper {
          display: flex;
          justify-content: space-between;

          .textColors {
            color: $secondary-color;
          }

          .textId {
            color: #b4bdc3;
          }
        }
      }

      .preferencesCapacity {
        border-bottom: 0.5px #b4bdc3 solid;
        margin-top: 16px;

        .capacityText {
          color: $secondary-color;
        }

        .capacityOptions {
          margin-bottom: 16px;

          .capacityButtons {
            display: flex;
            list-style: none;
            gap: 8px;
          }
        }
      }
    }
  }

  .priceAndCart {
    margin-top: 16px;

    .priceText {
      font-size: large;
      display: flex;
      gap: 8px;
      line-height: 40px;

      .oldPrice {
        color: $secondary-color;
      }
    }

    .cartButtons {
      display: flex;
      justify-content: space-between;

      .addToCart {
        width: 80%;
      }
    }
  }

  .generalInfo {
    font-weight: 600;
    margin-top: 32px;

    .infoList {
      list-style: none;

      .infoElement {
        display: flex;
        justify-content: space-between;
        color: $secondary-color;

        .infoNums {
          color: $primary-color;
        }
      }
    }
  }

  .aboutAndScpecsWrapper {
    @include on-desktop {
      display: flex;
      justify-content: space-around;
      margin-bottom: 32px;
    }
  
    .aboutBlock {
      margin-top: 64px;
      @include on-tablet {
        margin-top: 0;
      }

      @include on-desktop {
        margin-top: 0;
        width: 45%;
      }

      .aboutText {
        padding-bottom: 16px;
        border-bottom: 0.5px #b4bdc3 solid;
      }

      .paragraph {
        margin-top: 24px;
        @include on-desktop {
          .paragraphTitle {
            top: -300px;
            position: relative;
            height: 20px;
          }
        }

        .paragraphText {
          color: $secondary-color;
        }
      }
    }

    .techSpecs {
      margin-top: 64px;
      margin-bottom: 64px;
      @include on-desktop {
        margin-top: 0;
        margin-bottom: 0;
        width: 45%;
      }

      .techSpecsBlock {
        .techSpecsText {
          padding-bottom: 16px;
          border-bottom: 0.5px #b4bdc3 solid;
        }

        .specsList {
          margin-top: 24px;
          list-style: none;
        }

        .specsElement {
          display: flex;
          justify-content: space-between;
          color: $secondary-color;

          .specsValue {
            color: $primary-color;
          }
        }
      }
    }
  }

  .suggestions {
    justify-content: space-between;
    display: flex;
    gap: 16px;

    .moveButtons {
      display: flex;
      gap: 16px;
      justify-content: center;
    }
  }
}
