@import '../../../styles/utils/main';

.mySwiperWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-tablet {
    width: 100%;
    height: 288px;
    flex-direction: row-reverse;
  }

  @include on-desktop {
    height: 464px;
  }

  .swiper {
    display: flex;
    height: 288px;
  }

  .swiper-slide {
    background-size: contain;
    background-position: center;
    border-radius: 5px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mySwiperPicture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include on-tablet {
      width: calc(100% - 65px)
    }

    @include on-desktop {
      height: 464px;
      width: calc(100% - 96px);
    }

    .img {
      height: 274px;
      width: 100%;
      background-position: center;
      align-content: center;
      object-fit: contain;

      @include on-desktop {
        height: 442px;
        width: auto;
      }
    }
  }

  .mySwiperPicture .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .mySwiperPhotos {
    box-sizing: border-box;
    border-radius: 4px;
    height: 49px;
    overflow-x: auto;
    cursor: pointer;

    @include on-tablet {
      flex-direction: column;
      height: 100%;
      min-width: 49px;
      max-width: 49px;
      overflow: hidden;
    }

    @include on-desktop {
      height: 464px;
      max-width: 80px;
      min-width: 80px;
      flex-direction: column;
    }

    .img {
      height: 40px;
      width: auto;

      @include on-tablet {
        height: 30px;
        width: auto;
      }

      @include on-desktop {
        height: 80px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .mySwiperPhotos .swiper-slide {
    width: 49px !important;
    height: 100%;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--elements-color);

    @include on-tablet {
      width: 100% !important;
      height: 49px !important;
      margin-bottom: 8px !important;
    }

    @include on-desktop {
      height: 80px !important;
      margin-bottom: 16px !important;
    }
  }

  .mySwiperPhotos .swiper-slide-thumb-active {
    opacity: 1;
    border: 1px solid var(--color);
    border-radius: 4px;
  }
}