.wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.toggleWrapper {
    cursor: pointer;
    width: 38px;
    height: 20px;
    border-radius: 30px;
    background: var(--elements-color);
    position: relative;
}

.ball {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--white);
    transition: left 0.3s;

    &.isChecked {
        left: calc(100% - 18px);
    }
}