@import '../../styles/utils/main';

.about {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-desktop {
    grid-column: 1/13;
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;

  @include on-tablet {
    font-size: 22px;
    font-weight: bold;
  }
}

.borderLine {
  border-bottom: 1px solid #E2E6E9
}

.textArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  max-width: 330px;

  @include on-tablet {
    font-size: 20px;
    max-width: none;
  }
}

.paragraph {
  color: var(--secondary-color);
}