@import '../../styles/utils/main';
@import '../../styles/utils/colors';

.mySwiper {
  border-radius: 9px;
  overflow-x: hidden;
  width: 100%;
  max-width: 1136px;
  margin-bottom: 56px;
  position: relative;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    content: url('/img/mobile-top-slider-banner.png');
  }

  @include on-tablet {
    width: 100%;
    height: 400px;

    img {
      content: none;
    }
  }
}

.slide>img {
  aspect-ratio: 320/320;
  width: 100%;
  height: auto;

  @include on-tablet {
    aspect-ratio: 490/189;
  }
  @include on-desktop {
    aspect-ratio: 1040/400;
  }
}

.icons {
  display: none;

  @include on-tablet {
    display: flex;
    align-items: center;
    transition: 0.3s;

    @include on-desktop {
      &:hover {
        background-color: rgba(137 147 154 / 30%);
      }
    }
  }

  & svg {
    height: 50px;
    width: 50px;
  }
}

.next-top-slide {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  height: 100%;
}

.prev-top-slide {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  height: 100%;
}