@import '../../styles/utils/main';

.container {
    @include content-indents;
}

.loaderWrapper {
  height: calc(100vh - 257px - 48px);
  display: flex;
  justify-content: center;
  align-items: center;

  @include on-tablet {
    height: calc(100vh - 96px - 48px);
  }

  @include on-desktop {
    height: calc(100vh - 96px - 64px);
  }
}
