@import '../../../styles/utils/main';

.title {
  font-size: 22px;
  font-weight: bold;
  line-height: 31px;
  width: max-content;

  @include on-tablet {
    font-size: 32px;
    line-height: 41px;
    width: 100%;
  }
}

.buttons {
  display: flex;
  gap: 16px;
}

.disabled {
  opacity: 0.3;
}

.slider {
  max-width: 212px;

  @include on-tablet {
    max-width: 237px;
  }

  @include on-desktop {
    max-width: 272px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  @include content-indents;
}

.swippeWrapper {
  padding-left: 16px;

  @include on-tablet {
    padding-left: 24px;
  }

  @include on-desktop {
    @include content-indents;
  }
}