@import '../../styles/utils/main';

.wrapper {
  display: flex;
  margin-bottom: 56px;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 16px;
    margin-bottom: 64px;
  }

  @include on-desktop {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 80px;
  }

  @include content-indents;
}

.title {
  padding-top: 64px;
  padding-bottom: 60px;
  line-height: 56px;
  letter-spacing: -1px;
  @include on-tablet {
    padding-top: 80px;
    padding-bottom: 70px;
    font-size: 48px;
  }

  @include content-indents;
}