@import '../../styles/utils/main';

.errorWrapper {
  display: flex;
  font-family: Mont, Arial, Helvetica, sans-serif;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 257px - 48px);

  @include on-tablet {
    font-size: 30px;
    min-height: calc(100vh - 96px - 48px);
  }

  @include on-desktop {
    font-size: 36px;
    min-height: calc(100vh - 96px - 64px);
  }

  &Image {
    height: 300px;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 500px;
    }

    margin-bottom: 10px;
  }
}