@import '../../styles/utils/main';

.line {
  list-style: none;
  display: flex;
  gap: 5px;
}

.paginateWrapper {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 80px;
}

.cardsList {
  @include page-grid;

  margin-bottom: 24px;

  @include on-tablet {
    margin-bottom: 40px;
  }

}

.cardWrapper {
  grid-column-start: span 4;

  @include on-tablet {
    grid-column-start: span 6;
  }

  @include on-tablet-768 {
    grid-column-start: span 4;
  }

  @include on-desktop {
    grid-column-start: span 6;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--card-background-color);
  border: 1px solid var(--icons-color);
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  transition: all 0s ease;

  @include on-desktop {
    &:hover {
      border-color: var(--color);
    }
  }

  &:disabled {
    border-color: var(--elements-color);
    color: var(--icons-color);
    cursor: not-allowed;

    & svg path {
      fill: var(--icons-color);
    }
  }
}

.activeButton {
  background-color: var(--pagination-button-color);
  color: #fff;
}