@import '../../styles/utils/main';

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

.image {
  width: 100%;
  transition: transform .3s ease-in-out;
  margin-bottom: 24px;
  -webkit-user-drag: none;

  &:hover {
    transform: scale(1.05);
  }
}


.title {
  margin-bottom: 24px;
  font-size: 22px;
  font-weight: bold;
  line-height: 31px;

  @include on-tablet {
    font-size: 32px;
    line-height: 41px;
  }
}

.cardTitle {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.categoryName {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.categoryLength {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: var(--secondary-color);
}

.categoryLoading {
  background-color: var(--elements-color);
  width: 100px;
  height: 21px;
  border-radius: 10px;
}

.box {
  -webkit-user-drag: none;
}