@import '../../../styles/utils/main';

.options {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 32px;
  height: 22px;
  width: 70%;
  border-radius: 100px;
  background-color: var(--elements-color);

  @include on-tablet {
    margin-bottom: 40px;
    height: 32px;
  }
}

.main {
  display: flex;
  flex-direction: column;

  @include on-tablet {
    justify-content: space-between;
    flex-direction: row;
    gap: 17px;
  }

  @include on-desktop {
    gap: 64px;
  }
}

.slider {
  width: 100%;
  height: 100%;
  min-height: 350px;
  margin-bottom: 40px;
  background-color: var(--elements-color);
  border-radius: 10px;

  @include on-tablet {
    max-width: 338px;
    min-width: 338px;
  }

  @include on-desktop {
    max-width: 560px;
    min-width: 560px;
  }
}

.container {
  width: 100%;

  @include on-tablet {
    max-width: 50%;
  }

  @include on-desktop {
    max-width: 540px;
  }
}

.wrapper {

  @include on-tablet {
    max-width: 320px;
  }
}

.color {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.buttonCapacity {
  width: 55px;
  height: 31px;
  background-color: var(--elements-color);
  border-radius: 5px;

}

.colorWrapper {
  border-bottom: 1px solid var(--elements-color);
}

.colorTitle {
  display: flex;
  justify-content: space-between;
}

.grayText {
  height: 15px;
  width: 90px;
  background-color: var(--elements-color);
  line-height: 15px;
  border-radius: 100px;
}

.grayTextLong {
  height: 15px;
  width: 100%;
  background-color: var(--elements-color);
  line-height: 15px;
  border-radius: 100px;
}

.colorButtons {
  display: flex;
  margin-bottom: 24px;
  gap: 8px;
}

.roundedButton {
  display: block;
  height: 26px;
  width: 26px;
  background-color: var(--elements-color);
  border-radius: 100px;
}

.capacity {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--elements-color);
  margin-bottom: 32px;
}

.capacityButton {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.button {
  color: var(--color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  padding: 7px 8px 4px;

  &.active {
    background-color: var(--color);
    color: var(--bg-color-menu);
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.priceText {
  height: 41px;
  width: 120px;
  background-color: var(--elements-color);
  border-radius: 10px;
}

.discountPrice {
  height: 36px;
  width: 100px;
  background-color: var(--elements-color);
  border-radius: 10px;
}

.addButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center;
  gap: 8px;
}

.addToCartButton {
  width: calc(100% - 8px - 40px);
  height: 40px;
  background-color: var(--elements-color);
  border-radius: 10px;
}

.addToFavoriteButton {
  height: 40px;
  width: 40px;
  background-color: var(--elements-color);
  border-radius: 100px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 8px;
}