@import '../../../../styles/utils/main';

.colorButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    border-radius: 100%;
    background-color: var(--card-background-color);
    border: 1px solid var(--elements-color);
    transition: .3s;

    @include on-desktop {
        &:hover {
            border-color: var(--icons-color);
        }
    }

    &.selected {
        border-color: var(--color);
    }
}

.colorWrapper {
    min-width: 26px;
    min-height: 26px;
    max-width: 26px;
    max-height: 26px;
    border-radius: 100%;
}