$bg-hover-color-dark: #0F1121;
$primary-color-dark: #F1F2F9;
$secondary-color-dark: #75767F;
$grey-color: #161827;
$accent-color-dark: #905BFF;
$secondary-accent-color-dark: #EB5757;
$icons-color-dark: #4A4D58;
$elements-color-dark: #3B3E4A;
$primary-color: #0F0F11;
$bg-hover-color: #fafbfc;
$secondary-color: #89939a;
$white-color: #fff;
$accent-color: #f86800;
$secondary-accent-color: #476df4;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;