$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$accent-color: #f86800;
$secondary-accent-color: #476df4;
$primary-color: #0F0F11;
$secondary-color: #89939a;
$icons-color: #b4bdc3;
$elements-color: #e2e6e9;
$bg-hover-color: #fafbfc;
$white-color: #fff;