@import '../../styles/utils/main';

.container {
    @include content-indents;

    min-height: calc(100vh - 257px - 48px);

    @include on-tablet {
        min-height: calc(100vh - 96px - 48px);
    }

    @include on-desktop {
        min-height: calc(100vh - 96px - 64px);
    }
}

.catalogWrapper {
    padding-block: 24px 64px;

    @include on-tablet {
        padding-top: 40px;
    }

    @include on-desktop {
        padding-bottom: 80px;
    }
}

.title {
    margin-bottom: 8px;
}

.subTitle {
    margin-bottom: 32px;
    color: var(--secondary-color);

    @include on-tablet {
        margin-bottom: 40px;
    }
}

.dropdownsWrapper {
    display: flex;
    gap: 16px;
    padding-bottom: 24px;
}

.sortBy {
    width: 148px;

    @include on-tablet {
        width: 187px;
    }
}

.itemsPerPage {
    width: 148px;
}

.subTitleLoading {
    background-color: var(--elements-color);
    width: 100px;
    height: 21px;
    border-radius: 10px;
    margin-bottom: 32px;
    color: var(--secondary-color);

    @include on-tablet {
        margin-bottom: 40px;
    }
}