@import '../../styles/utils/main';

.header {
  display: flex;
  align-items: center;
  height: max-content;
  box-shadow: 0 1px 0 0 #E2E6E9;
  justify-content: space-between;

  @include on-tablet {
    justify-content: flex-start;
  }


  .logo {
    width: 64px;

    @include on-desktop {
      width: 80px;
    }
  }


  .link {
    height: 48px;
    padding: 13px 16px;
  }
}


.nav {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {

    @include on-tablet {
      width: max-content;
      color: $secondary-color;
      font-weight: bold;
    }

    @include hover(color, $primary-color)
  }

  .list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    @include on-tablet {
      width: max-content;
      gap: 32px;
      margin-left: 16px;
    }

    @include on-desktop {
      gap: 64px;
    }
  }

  .item {
    display: none;


    @include on-tablet {
      display: flex;
    }
  }
}

.header__icons {
  display: flex;
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-shadow: -1px 0 0 0 $elements-color;
  height: 100%;
  align-items: center;

  @include on-desktop {
    padding: 24px;
  }
}

.cart {
  display: none;

  @include on-tablet {
    display: flex;
  }
}

.favourite {
  display: none;

  @include on-tablet {
    display: flex;
  }
}

.burger {
  display: flex;

  @include on-tablet {
    display: none;
  }
}

.icon {
  @include hover(transform, scale(1.2));
}