@import '../../styles/utils/main';

.headerContainer {
  max-width: 1440px;
  margin: 0 auto;
  height: inherit;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;

  @include on-tablet {
    justify-content: flex-start;
  }
}

.header {
  z-index: 2;
  height: 48px;
  box-shadow: 0 1px 0 0 #E2E6E9;
  background-color: $white-color;

  &.isSticky {
    position: sticky;
    top: 0;
  }

  @include on-desktop {
    height: 64px;
  }
}

.logo {
  width: 64px;
  margin-left: auto;
  margin-right: auto;

  @include on-desktop {
    width: 80px;
  }
}

.link {
  display: flex;
  padding: 13px 16px;

  @include on-tablet {
    display: flex;
    padding: 13px 16px;
  }
}

.icons {
  @include on-tablet {
    display: flex;
    height: 100%;
    margin-left: auto;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  border-inline: 1px solid $elements-color;

  &:not(:last-child) {
    border-right: 0;
  }

  @include on-tablet {
    width: 48px;
    height: 100%;
  }

  @include on-desktop {
    width: 64px;
  }

  .icon {
    transition: transform 0.3s ease;
  }

  &:hover .icon {
    transform: scale(1.2);
  }
}

.cart {
  display: none;

  @include on-tablet {
    display: flex;
  }
}

.favourite {
  display: none;

  @include on-tablet {
    display: flex;
  }
}

.burger {
  display: flex;
  padding: 16px;
  box-shadow: -1px 0 0 0 $elements-color;
  height: 100%;
  cursor: pointer;

  @include on-tablet {
    display: none;
  }
}