@import '../../../styles/utils/main';

.badgeWrapper {
    position: relative;
    display: flex;
}

.badge {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
    width: 14px;
    height: 14px;
    font-size: 8px;
    line-height: 11px;
    color: $white-color;
    border-radius: 50%;
    border: 1px solid $white-color;
    background-color: $secondary-accent-color;
}