@import '../../styles/utils/main';
@import '../../styles/utils/colors';

.cart {
  height: 164px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  border: 1px solid var(--elements-color);
  border-radius: 16px;

  @include on-tablet {
    min-height: 128px;
    width: 592px;
    flex-direction: row;
    justify-content: space-between;
  }

  @include on-desktop {
    max-height: 128px;
    min-height: 110px;
    width: 752px;
  }
}

.cartInfo {
  display: flex;
  margin: 16px 0;
  justify-content: space-between;

  @include on-tablet {
    margin: 16px 0;
    justify-content: flex-start;
  }
}

.cartItem {
  display: flex;
  align-items: center;
  padding: 0 16px;

  @include on-tablet {
    padding: 0 24px;
  }
}

.cartImage {
  height: 66px;
  width: auto;
}

.removeButton {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 28px;
  align-content: center;

  & svg path {
    fill: var(--secondary-color);
  }

  @include on-desktop {
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;

      & svg path {
        fill: var(--color);
      }
    }
  }
}

.productName {
  width: 128px;
  height: 80px;
  font-size: 14px;
  font-weight: 600;
  padding-right: 16px;
  display: flex;
  align-items: center;

  @include on-tablet {
    width: 176px;
    height: 42px;
    padding-right: 24px;
    margin: auto;
  }

  @include on-desktop {
    display: flex;
    width: 336px;
    max-height: 21px;
  }
}


.quantityControl {
  width: 100%;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  padding-inline: 16px;

  @include on-tablet {
    flex-direction: row;
    margin: auto 0;
    padding: 0 24px;
  }
}

.quantityControl button {
  background-color: var(--card-background-color);
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 16px;
  cursor: pointer;
}

.onButton {
  color: var(--secondary-color);

  & svg path {
    fill: var(--secondary-color);
  }

  @include on-desktop {
    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s;

      &:hover .iconButton {
        border-color: var(--secondary-color);
      }
    }

    &:active {
      &:active .iconButton {
        border-color: var(--color);
      }
    }

  }
}

.quantity {
  display: flex;
  margin: 0;
  margin-top: 5px;
  align-items: center;
  font-size: 14px;
}

.quantityValue {
  width: 32px;
  height: 32px;
  align-items: center;
  text-align: center;
  padding-top: 6px;
}

.price {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.cancelButton {
  background-color: var(--accent-color) !important;
  outline: none !important;

  &:focus {
    box-shadow: none !important;
  }
}

.confirmButton {
  background-color: var(--secondary-color) !important;
  outline: none !important;

  &:focus {
    box-shadow: none !important;
  }
}