@import '../../styles/utils/main';

.cart {
  height: 164px;
  width: 288px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E2E6E9;
  border-radius: 10px;
  margin: 0 auto;
}

.cartInfo {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}

.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
}

.removeButton {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 28px;
}

.cartImage {
  width: 66px;
}

.productDetails {
  font-size: 8px;

}

.productName {
  width: 128px;
  height: 80px;
  font-size: 14px;
}


.quantityControl {
  padding-top: 16px;
  display:flex;
  box-sizing: content-box;
  font-size: 10px;
}

.quantityControl button {
  background-color: #FFF;
  border: 1px solid #E2E6E9;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 16px;
  cursor: pointer;
}

.onButton {
  color: #B4BDC3;
}

.quantity {
  display: flex;
  margin: 0 8px;
  padding-top: 5px;
  justify-content: space-around;
  text-align: center;
  font-size: 14px;
}

.price {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 120px;
}