@import '../../styles/utils/main';

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  inset: 0;
  background: #fff;
  transform: translateX(110%);
  transition: .5s;
}

.show {
  transform: translateX(0);
}

.header {
  display: flex;
  justify-content: space-between;
  height: 48px;
  box-shadow: 0 1px 0 0 #E2E6E9;
}

.link {
  display: flex;
  padding: 13px 16px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 64px;
}

.menuBody {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  height: 100%;
  animation: slideIn 1s forwards;
  transform-origin: right;
}

.close {
  display: flex;
  padding: 16px;
  box-shadow: -1px 0 0 0 $elements-color;
  height: 100%;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #E2E6E9
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 0 0 0 $elements-color;
  height: 64px;
  width: 100%;
}