@import '../../styles/utils/main';

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 0 #E2E6E9;
}

.link {
  display: flex;
  padding: 13px 16px;
}

.logo {
  width: 64px;
  margin-left: auto;
  margin-right: auto;
}

.menuBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 24px;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-shadow: -1px 0 0 0 $elements-color;
  height: 100%;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #E2E6E9
}

.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 0 0 0 $elements-color;
  height: 64px;
  width: 100%;
}
