@import '../../styles/utils/main';

.footerWrapper {
  box-shadow: 0 -1px 0 0 $elements-color;
  background-color: $white-color;
}

.footer {
  max-height: 280px;
  padding-block: 32px;
  color: $secondary-color;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;

  @include content-indents;

  @include on-tablet {
    max-height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include on-desktop {
    max-width: 1200px;
    margin: 0 auto;
  }

}

.logo {
  margin-bottom: 32px;

  @include on-tablet {
    margin: 0;
  }

}

.image {
  width: 89px;
}

.additional {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
  font-weight: bold;

  @include on-tablet {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include on-desktop {
    gap: 106px;
  }

}

.additionalLink {
  letter-spacing: 0.04em;

  &:active {
    color: $primary-color;
  }

  @include on-desktop {
    @include hover(color, $primary-color);
  }

}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &:active .text {
    color: $primary-color;
  }

  &:active .iconButton {
    border-color: $primary-color;

    & svg path {
      fill: $primary-color;
    }
  }

  @include on-desktop {
    &:hover .text {
      color: $primary-color;
    }

    &:hover .iconButton {
      transform: scale(1.1);
      transition: transform 0.5s;
      border-color: $primary-color;

      & svg path {
        fill: $primary-color;
      }
    }
  }
}