@import '../../styles/utils/main';

.footerWrapper {
  box-shadow: 0 -1px 0 0 $elements-color;
}

.footer {
  max-height: 280px;
  padding-left: 16px;
  color: $secondary-color;
  font-size: 12px;
  font-weight: 600;

  @include on-tablet {
    max-height: 96px;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include on-desktop {
    max-width: 1200px;
    margin: 0 auto;
  }

}

.logo {
  padding-top: 32px;

  @include on-tablet {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

}

.image {
  width: 89px;
}

.additional {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-weight: 800;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}

.additionalLink {
  text-decoration: none;
  text-align: left;
  padding-top: 16px;
  letter-spacing: 0.04em;

  @include on-tablet {
    display: flex;
    padding: 8px;
  }

  @include on-desktop {
    display: flex;
    margin: 0 64px;
  }

  @include hover(color, $primary-color);

  &:active {
    color: $primary-color;
  }

}

.text {
  padding-right: 16px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover .text {
    color: $primary-color;
  }

  &:hover .iconButton {
    transform: scale(1.1);
    transition: transform 0.5s;
    border-color: $primary-color;

    & svg path {
      fill: $primary-color;
    }
  }

  &:active {
    color: $primary-color;
  }
}