@import '../../styles/utils/main';

.breadcrumbs {
  @include content-indents;

  display: flex;
  gap: 8px;
  align-items: center;
  padding-top: 24px;
  cursor: pointer;
  overflow: hidden;
  width: auto;
}

.crumb {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: var(--secondary-color);

  &:last-child {
    overflow: hidden;
  }
}

.text {
  padding-top: 3px;
  white-space: nowrap;

  &:last-child {
    a {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}