.wrapper {
  max-width: 260px;
  min-height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.wrapperPortfolio {
  max-width: 260px;
  max-height: 160px;
  cursor: pointer;
}