@import './../../styles/utils/variables';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.main {
  text-align: center;
}

.mainNumbers {
  font-size: 5rem;
  color: #333; 
}

.mainLetters {
  margin-top: 40px;
  font-size: 1.5rem;
  color: #666; 
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}