@import '../../styles/utils/main';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 40px;

  @include content-indents;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 100%;
  text-align: center;
}

.mainLetters {
  font-weight: bold;
  color: $primary-color;
  font-size: 32px;
  line-height: 56px;

  @include on-tablet {
    font-size: 48px;
  }
}


.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;

  @include on-tablet {
    margin-top: 12px;
    max-width: 300px;
  }
}

.image {
  max-width: 350px;
  width: 300px;
  margin: 24px;

  @include on-tablet {
    width: 50%;
  }
}